:root {
  --primaryClr: green;
  --secondaryClr: lightgreen;
  --txtClr: rgb(251, 237, 200);
}
body {
  margin: 0;
  font-size: 1.2rem;
  font-family: "VT323", monospace;
}
* {
  box-sizing: border-box;
}
.wrapper {
  min-height: 100vh;
  background: linear-gradient(var(--txtClr), var(--primaryClr));
  display: grid;
  justify-content: center;
  align-items: center;
}
.calculator {
  background: grey;
  width: 400px;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "display display display display"
    "ac c per divide"
    "b9 b8 b7 mul"
    "b6 b5 b4 minus"
    "b3 b2 b1 plus"
    "b0 bdot equals equals";
  padding: 2rem 1.5rem;
  border-radius: 10px;
}
.calculator > div {
  height: 50px;
  background-color: var(--primaryClr);

  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.calculator > div:hover {
  cursor: pointer;
  background: var(--secondaryClr);
  transition: all 1s;
}
.display {
  grid-area: display;
  display: grid;
  padding-right: 1rem;
  justify-content: flex-end !important;
  font-size: 1.3rem;
  font-weight: bold;
}
.display:hover {
  background: var(--primaryClr) !important;
}
.btn-ac {
  grid-area: ac;
}
.btn-c {
  grid-area: c;
}
.btn-per {
  grid-area: per;
}
.btn-divide {
  grid-area: divide;
}
.btn-x {
  grid-area: mul;
}
.btn-minus {
  grid-area: minus;
}
.btn-plus {
  grid-area: plus;
}
.btn-equals {
  grid-area: equals;
}
.btn-dot {
  grid-area: bdot;
}
.btn-0 {
  grid-area: b0;
}
.btn-1 {
  grid-area: b1;
}
.btn-2 {
  grid-area: b2;
}
.btn-3 {
  grid-area: b3;
}
.btn-4 {
  grid-area: b4;
}
.btn-5 {
  grid-area: b5;
}
.btn-6 {
  grid-area: b6;
}
.btn-7 {
  grid-area: b7;
}
.btn-8 {
  grid-area: b8;
}
.btn-9 {
  grid-area: b9;
}
.calculator .prank {
  background: red;
  color: white;
  animation: shake 0.5s ease-in;
}
@keyframes shake {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}
